# Entorno virtual
venv/
env/
ENV/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# CSV exportados
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
